<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Video chat</title>
		<link rel="stylesheet" type="text/css" href="{% static 'chat/main.css' %}">
	</head>

	
	<body>
		<div class="grid-container">



			<!-- Fixed navbar -->
			<div class="navbar">

				<!-- Side Bar -->
				<div id="mySidebar" class="sidebar">
					  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					  <a href="#">About</a>
					  <a href="#">Services</a>
					  <a href="#">Clients</a>
					  <a href="#">Contact</a>
				</div>

				<div id="main">
					  <button class="openbtn" onclick="openNav()">&#9776; Show participants</button>
				</div>
			</div>


			<!-- Video section -->
			<div class="video-display">
			  	<div class="video-container">
			  		<div class="video1" >
						<video class = "video" autoplay playsinline> </video>
			  		</div>



						<div class="video2">
						</div>										
				</div>
			</div>



			<!-- Controls -->

			<div class="video-control">
				<button  id="audio-toggle" >Mute Audio</button>
				<button  id="video-toggle" >Video Off</button>

			</div>



		</div>

	</body>

	<script type="text/javascript" src = "{% static 'chat/main.js' %}"></script>
</html>


